/*CSS RESET*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


html {
    height: 100%;
    background: rgba(0, 0, 0, 0) url("website-images/transparent-website-tree.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

/*GENERAL STYLES*/

body {

    height: 100%;
    text-align: center;
    color: white;
    padding: 60px;
    padding-bottom: 150px;
    font-family: 'Cormorant Garamond', serif;

}

ul,
ol {
    list-style-type: none;
}

h2 {

    font-size: 1.5rem;
    color: saddlebrown;
    text-align: center;
    opacity: 0.9;
}



p {
    color: saddlebrown;
    margin-top: 3rem;
    /*    border-top: 2px solid saddlebrown;*/
}

button {
    background-color: darkslategrey;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
}

button:hover {
    background-color: darkturquoise;
}

input {
    background-color: bisque;
    padding: 0.5rem 1rem;
    color: saddlebrown;
    margin: 0.5rem 1rem;
    border-radius: 10px;
}


nav ul {
    margin: 0;
    padding: .5rem 1rem;
    list-style: none;
    display: inline-block;
    float: right;


}



nav ul li {
    display: inline-block;
    border-right: 0px solid cadetblue;
    margin-left: 60px;
    font-size: 12px;
    padding-top: 4px;
    /*    color: cadetblue;*/
    border-radius: 5px;
    /*    border: solid cadetblue;*/
}

.link li:hover {
    background-color: bisque;
}

nav ul li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: saddlebrown;
    font-weight: 700;
    font-size: .9rem;


}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}


/*
.bottom {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-bottom: 8rem;
}
*/

/*
li:last-child {
    border-right: none;
}*/

main section div {
    margin-bottom: 2rem;

}

/*
.welcome {

    height: 250px;
    width: 250px;
    border: solid brown;
    background-color: cadetblue;
    opacity: 0.9;
    margin-right: auto;
    margin-left: auto;

}
*/

.col-6 {

    height: 90px;
    width: 250px;
    border: solid brown;
    background-color: cadetblue;
    opacity: 0.9;
    display: inline-block;
    margin-top: 1.5rem;
    text-align: center;


}

.search-box {

    display: block;
    text-align: center;
    /*
    position: relative;
    top: 350px;
*/
    margin-top: 3rem;

}

/*HOMESCREEN*/

.welcome p {
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;

}



.text p {
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    padding: 1rem 5rem;

    border-radius: 3px;
    text-align: left;



}

h1 {

    text-align: center;
    color: saddlebrown;
    opacity: 0.9;
    font-family: 'Julius Sans One', sans-serif;
}



/*Translate Results*/

/*
[alt="Wiktionary Logo"],
[alt="Google Logo"],
[alt="Google Image Logo"] {

    width: 13%;
    display: inline-block;
        float: left;
    border-radius: 2px;
    padding-left: .8rem;
    margin-left: 10%;
    margin-right: 10%;
}
*/

#tr-results ul {

    overflow: hidden;
    margin-top: 1rem;
    list-style-type: none;
    padding-bottom: 1rem;
}

#tr-results li {

    /*    margin-bottom: 3rem;*/
    padding: .5rem 1em;
    border: 1px cadetblue;
    border-radius: 10px;
    color: saddlebrown;
    width: 100%;


}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}


#tr-results li a {
    width: 13%;
    display: inline-block;
    /*    float: left;*/
    border-radius: 2px;
    padding-left: .8rem;
    margin-left: 10%;
    margin-right: 10%;


}



#tr-results li img {

    display: block;
    max-width: 100%;
    border-radius: 10px;

}



#tr-results li p {
    border-top: 2px solid saddlebrown;
    font-size: 1.3rem;

}

/*Google Books Results*/

#gb-results ul {

    overflow: hidden;
    margin-top: 1rem;
    list-style-type: none;
    padding-bottom: 3rem;




}

#gb-results li {
    /*    float: left;*/
    display: inline-block;
    margin-bottom: 2em;
    padding: .5rem 1rem;
    border: 1px cadetblue;
    border-radius: 10px;
    color: saddlebrown;
    width: 33%;
    vertical-align: top;

}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}



#gb-results li img {

    display: block;
    max-width: 100%;
    border-radius: 10px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#gb-results li p,
#gb-results li h3 {

    height: 37px;
    overflow-x: auto;
}


#tr-results,
#gb-results {
    background-color: cadetblue;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    vertical-align: middle;
    border: solid saddlebrown;
    opacity: 0.9;

}

.wrapper {

    width: 1129px;
    height: 410px;

}

#tr-results {
    width: 35%;
}



footer {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 3rem;

}


@media only screen and (max-width: 1000px) {

    #tr-results {
        width: 75%;
    }




}



@media only screen and (max-width: 640px) {
    body main {

        width: 95%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    .text p {

        padding: 1rem 0rem;

    }

    nav ul {
        display: block;
        float: none;


    }

    nav ul li {

        margin-left: 0px;

    }

    #gb-results li {

        float: none;
        width: 100%;
    }

    #tr-results {
        width: 95%;
    }

    #tr-results li {
        float: none;
        width: 100%;
    }

    h1 {

        font-size: 1.5rem;
    }
    #tr-results li p {
        width: 100%;
        float: none;
    }

    /*
    #tr-results li a {
        float: none;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }
*/
}

@media only screen and (max-width: 480px) {

    #tr-results li a {
        float: none;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
