/*CSS RESET*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


html {
    height: 100%;
    background: rgba(0, 0, 0, 0) url("./website-images/kotor.png") no-repeat center center fixed;
    /*    background-color: #FEEED4;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

/*GENERAL STYLES*/

body {

    height: 100%;
    text-align: center;
    color: white;
    /*    padding: 60px;*/
    padding-bottom: 150px;
    font-family: 'Cormorant Garamond', serif;

}

header {
    background-color: rgba(255, 255, 255, 0.5);
}

ul,
ol {
    list-style-type: none;
}



h2 {

    font-size: 1.5rem;
    color: saddlebrown;
    text-align: center;
    opacity: 0.9;
}

p {
    color: saddlebrown;
    margin-top: 3rem;


}

button {
    /*    background-color: darkslategrey;*/
    /*
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
*/
    background: ;
    border-radius: 100px;
    padding: 20px 80px;
    /*    background-color: rgba(255, 255, 255, 0.5);*/
    color: saddlebrown;
    text-decoration: none;
    font-size: 1.45rem;
    margin: 0px 23px;
    /*    width: 100%;*/
}

.start-translate,
.start-read {
    width: 100%;
}

button:hover {
    background-color: bisque;
}

input {
    background-color: bisque;
    /*    padding: 0.5rem 1rem;*/
    color: saddlebrown;
    margin: 0.5rem 1rem;
    /*    border-radius: 10px;*/
    width: 50%;
    font-size: 1.45rem;
    border-radius: 100px;
    padding: 20px 80px;
}


.link {
    display: inline-block;
    /*    float: right;*/
}


nav ul {
    /*    margin: 0;*/
    padding: .5rem 1rem;
    list-style: none;
    display: inline-block;

}

nav ul li {
    display: inline-block;
    border-right: 0px;
    margin-left: 10px;
    font-size: 12px;
    padding-top: 4px;
    border-radius: 5px;

}

.link li:hover {
    background-color: bisque;
}

nav ul li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: saddlebrown;
    font-weight: 700;
    font-size: .9rem;


}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}



.col-6 {

    height: 90px;
    width: 250px;
    /*    border: solid brown;*/
    /*    background-color: cadetblue;*/
    opacity: 0.9;
    display: inline-block;
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 35px;
    margin-right: 77px;


}

.search-box {

    display: block;
    text-align: center;
    margin-top: 3rem;

}

#tr-results,
#gb-results {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    vertical-align: middle;
    border-radius: 20px;
    /*    border: solid saddlebrown;*/
    opacity: 0.9;

}

/*HOMESCREEN*/

#top-wrapper {

    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;

    padding: 1rem 0.5rem;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.navigation {
    width: 50%;
    height: 100px;
    float: right;
}


.welcome p {
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-size: 1.2rem;


}

.features {
    margin-top: -6rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    padding: 1rem 5rem;
    line-height: 27pt;
    border-radius: 2px;
    text-align: left;
    text-shadow: 0px .4px 0px #000000;
    color: saddlebrown;
    padding-bottom: 2rem;

}

.features li {
    list-style-type: disc;
}

.text p {
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    padding: 1rem 5rem;
    line-height: 27pt;
    border-radius: 2px;
    text-align: left;
    text-shadow: 0px .4px 0px #000000;


}



.title {
    width: 50%;
    height: 100px;
    display: inline-block;

}


.title h1 {
    text-align: left;
    color: saddlebrown;
    opacity: 0.9;
    font-family: 'Julius Sans One', sans-serif;
}



/*TRANSLATOR*/

.about-translate p {

    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    padding: 1rem 5rem;
    line-height: 27pt;
    border-radius: 2px;
    text-align: left;
    text-shadow: 0px .4px 0px #000000;

}

#tr-results {
    width: 35%;
}

#tr-results ul {

    overflow: hidden;
    margin-top: 1rem;
    list-style-type: none;
    padding-bottom: 1rem;
}

#tr-results li {

    padding: .5rem 1em;
    border: 1px cadetblue;
    border-radius: 10px;
    color: saddlebrown;
    width: 100%;


}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}


#tr-results li a {
    width: 13%;
    display: inline-block;
    /*    float: left;*/
    border-radius: 2px;
    padding-left: .8rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: middle;

}



#tr-results li img {

    display: block;
    max-width: 100%;
    border-radius: 10px;

}



#tr-results li p {
    border-top: 2px solid saddlebrown;
    font-size: 1.3rem;

}

/*Google Books Results*/

#gb-results ul {

    overflow: hidden;
    margin-top: 1rem;
    list-style-type: none;
    padding-bottom: 3rem;




}

#gb-results li {
    /*    float: left;*/
    display: inline-block;
    margin-bottom: 2em;
    padding: .5rem 1rem;
    border: 1px cadetblue;
    border-radius: 10px;
    color: saddlebrown;
    width: 33%;
    vertical-align: top;

}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}



#gb-results li img {

    display: block;
    max-width: 100%;
    border-radius: 10px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#gb-results li p,
#gb-results li h3 {

    height: 37px;
    overflow-x: auto;
}





footer {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 4rem;

}


@media only screen and (max-width: 1000px) {

    #tr-results {
        width: 75%;
    }




}



@media only screen and (max-width: 640px) {
    body main {

        width: 95%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    .text p {

        padding: 1rem 0rem;

    }

    nav ul {
        display: block;
        float: none;


    }

    nav ul li {

        margin-left: 0px;

    }

    #gb-results li {

        float: none;
        width: 100%;
    }

    #tr-results {
        width: 95%;
    }

    #tr-results li {
        float: none;
        width: 100%;
    }

    h1 {

        font-size: 1.5rem;
    }
    #tr-results li p {
        width: 100%;
        float: none;
    }


}

@media only screen and (max-width: 480px) {

    #tr-results li a {
        float: none;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
